.cart-container {
  position: fixed;
  top: 11%;
  right: 0;
  border: 2px solid black;
  padding: 2rem 2.5rem;
  background: white;
  height: 90vh;
  width: 100%;
  z-index: 2;
}
.cart-title {
  text-align: center;
}
.cancel-btn {
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(74, 15, 147);
  cursor: pointer;
  color: white;
}
.cartItems {
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0 1rem;
}
.cart-info {
  width: 100%;
  margin: 2.5rem 0 1rem 0;
  display: flex;
  justify-content: space-around;
}
.cart-info span {
  font-weight: bold;
  font-size: 1.2rem;
}

.total-amount {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.total-amount span {
  font-weight: bold;
  font-size: 1.2rem;
}
.purchase-btn {
  text-align: center;
  margin-top: 1rem;
}
.purchase-btn button {
  width: 7rem;
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
  background: rgb(74, 15, 147);
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: 2px solid rgb(96, 52, 151);
}
@media screen and (min-width: 768px) {
  .cart-container {
    width: 35%;
  }
}
