.section {
  margin-top: 2rem;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
.card-center {
  margin: 2rem auto;
  display: grid;
  place-items: center;
  max-width: 1170px;
}
@media screen and (min-width: 768px) {
  .card-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
