.simple-text {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  min-height: 60vh;
  margin-bottom: 2rem;
}
.simple-text img {
  margin: 0 2rem 2rem 0;
  width: 200px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  float: left;
}
.about-title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}
