.container {
  margin-top: 4rem;
  background-color: grey;
  color: white;
  padding: 2rem 0;
}
.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.content-title {
  font-size: 4rem;
}
.content-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
  background: transparent;
  border: 2px solid rgb(0, 207, 254);
  color: white;
  cursor: pointer;
}
.play-icon {
  font-size: 5rem;
  margin-top: 2rem;
  color: rgb(0, 207, 254);
  cursor: pointer;
}
.tour-heading {
  text-align: center;
  text-transform: uppercase;
}

.tour-content {
  margin: 3rem auto;
  width: 90%;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.tour-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.tour-btn {
  padding: 0.5rem 2rem;
  background-color: rgb(0, 207, 254);
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
}

.date-cell {
  width: 15%;
}
.place-cell {
  width: 20%;
}
.title-cell {
  width: 40%;
}
.btn-cell {
  width: 25%;
}
@media screen and (min-width: 1170px) {
  .tour-content {
    width: 50%;
  }
}
